@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1C1E21;
  overflow: hidden;
}

p {
  color: white;
  font-family: 'Rubik'
}

::selection {
  background: rgba(123, 204, 255);
  color: black;
}

::-moz-selection {
  background: rgba(123, 204, 255);
  color: black;
}


.underline {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: rgb(147 51 234);
  transition: all 0.2s ease-in-out;
}

.underline:hover::before {
  width: 100%;
}

.blurred-letter {
  text-shadow: 3px 3px rgb(132, 0, 255);
  position: relative;
  color: white;
  font-size: 20px;
  font-family: 'Rubik'
}
